<h1>Listing messages from users</h1>

<table>
  <thead>
    <tr>
      <th>first</th>
      <th>middle</th>
      <th>last</th>
      <th>birthday</th>
      <th>gender</th>
      <th>phone</th>
      <th>email</th>
      <th>martial</th>
      <th>location</th>
      <th>hcity</th>
      <th>hstate</th>
      <th>hcountry</th>
      <th>education</th>
      <th>profession</th>
      <th>employer</th>
      <th>pemployer</th>
      <th>kids?</th>
      <th>numkids</th>
      <th>numtweets</th>
      <th>numfollowers</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.middle_initial %></td>
        <td><%= user.last_name %></td>
        <td><%= user.date_of_birth %></td>
        <td><%= user.gender %></td>
        <td><%= user.phone %></td>
        <td><%= user.email %></td>
        <td><%= user.martial_status %></td>
        <td><%= user.current_location %></td>
        <td><%= user.hometown_city %></td>
        <td><%= user.hometown_state %></td>
        <td><%= user.hometown_country %></td>
        <td><%= user.education_level %></td>
        <td><%= user.profession %></td>
        <td><%= user.past_employer_1 %></td>
        <td><%= user.has_kids %></td>
        <td><%= user.number_of_kids %></td>
        <td><%= user.number_of_tweets %></td>
        <td><%= user.number_of_followers %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
