<h1>Listing of User Locations</h1>

<%= paginate @locations %>


<table cellspacing="20">
  <thead>
    <tr>
      <th>UserID</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Created Time (UTC)</th>
      <th>Created Time (PT)</th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.userID %></td>
        <td><%= location.latitude %></td>
        <td><%= location.longitude %></td>
        <td><%= location.created_at %></td>
        <td><%= location.created_at.in_time_zone("Pacific Time (US & Canada)") %></td>
      </tr>
    <% end %>
  </tbody>
</table>


