<h1>Listing attractions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>Country</th>
      <th>Zip</th>
      <th>Phone</th>
      <th>Price</th>
      <th>Rating</th>
      <th>Reviews</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Category</th>
      <th>Parking</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @attractions.each do |attraction| %>
      <tr>
        <td><%= attraction.name %></td>
        <td><%= attraction.address %></td>
        <td><%= attraction.city %></td>
        <td><%= attraction.country %></td>
        <td><%= attraction.zip %></td>
        <td><%= attraction.phone %></td>
        <td><%= attraction.price %></td>
        <td><%= attraction.rating %></td>
        <td><%= attraction.reviews %></td>
        <td><%= attraction.latitude %></td>
        <td><%= attraction.longitude %></td>
        <td><%= attraction.category %></td>
        <td><%= attraction.parking %></td>
        <td><%= link_to 'Show', attraction %></td>
        <td><%= link_to 'Edit', edit_attraction_path(attraction) %></td>
        <td><%= link_to 'Destroy', attraction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attraction', new_attraction_path %>
